<div class="container">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <h1>{{Message}}</h1>
        <p>
            Hey!, I'm an entrepreneur, founder and chief editor of <a href="http://www.dotnet-tricks.com" class="link">www.dotnet-tricks.com</a> and <a href="http://www.dotnettricks.com" class="link">www.dotnettricks.com</a> - <code>“Coding is Rhyme”</code>.
        </p>
        <p>
            I have more than 6 years of hand over Microsoft .NET technologies and other web technologies like AngularJS, JavaScript, Hybrid Mobile Apps Development. A number of articles of myself has become <code>articles-of-the-day</code>, selected in <code>daily-community-spotlight</code> and listed in <a href="http://www.asp.net/mvc/overview/getting-started/recommended-resources-for-mvc" class="link" target="_blank">Recommended Resources for MVC</a> section on the Official <code>Microsoft ASP.NET Community Site.</code>
        </p>
    </div>
</div>